################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoBackup/obj
/AutoBackup/bin
/.vs
